<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include navigate.ejs %>
    <form action="/about" method= "post">
      First name:<br>
      <input type="text" name="firstname"><br>
      Last name:<br>
      <input type="text" name="lastname">
      <input type="submit" value="Submit">
    </form>
    <%= firstname %> <br/>
    <%= lastname %>
  </body>
</html>