<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
        <form action="/about">
            <input type="submit" value="INFO PAGE" />
        </form><br/>
        <form action="/validateJson">
             <input type="submit" value="JSON VALIDATE" />
        </form>
  </body>
</html>
