<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include navigate.ejs %>
        <p>Welcome to Home Page</p>
        <form action="/about">
            <input type="submit" value="INFO PAGE" />
        </form><br/>
        <form action="/validateJson">
             <input type="submit" value="JSON VALIDATE" />
        </form>
  </body>
</html>
