<!DOCTYPE html>
<html>
  <head>
    <title>Validate Json</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include navigate.ejs %>
    <br><br>
    <form action="/validateJson" method="post" id="formId">
        <input type="submit">
    </form>
    <textarea rows="5" cols="50" name="JsonText" form="formId"></textarea>
    <%= status%>
  </body>
</html>