<!DOCTYPE html>
<html>
  <head>
    <title>Validate Json</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include navigate.ejs %>
    <br><br>
    <div class="form-group">
    <form action="/validateJson" method="post" id="formId">
      <textarea class="form-control" rows="5" cols="50" name="JsonText"></textarea>
        <input class="btn btn-primary" type="submit">
    </form>
    <%= status%>
  </body>
</html>